@{
    Layout = "_Layout";
}

@model Restaurants.Models.Restaurant

<h2>You're on the Edit page, baby!</h2>

<h4>Edit this Restaurant: @Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.RestaurantId)

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
    <br>
    <label for="priceTier"> Price Tier </label>
    <select name="priceTier" id="priceTier">How Expensive is it?
    <option>Tier 1 (affordable)</option>
    <option>Tier 2 (moderately affordable)</option>
    <option>Tier 3 (not affordable)</option>
    <option>Tier 4 (take out a loan)</option>
</select>
    <br>
    <label for="style"> Restaurant Style </label>
    <select name="style" id="style">
    <option> Diner </option>
    <option> Buffet </option>
    <option> Drive-In </option>
    <option> Bar </option>
    <option> Gastropub </option>
    <option> Fine Dining </option>
    <option> Celebrity </option>
</select>

    @Html.LabelFor(model => model.Smoking)
    @Html.TextBoxFor(model => model.Smoking)
    <br>
    <br>
    @Html.LabelFor(model => model.Alcohol)
    @Html.TextBoxFor(model => model.Alcohol)
    <br>
    <br>

    @Html.LabelFor(model => model.Cuisine)
    @Html.DropDownList("CuisineId")

    <input type="submit" value="Edit restaurant!">
}

<p>@Html.ActionLink("All Restaurants", "Index")</p>